

<div>
    <h3>Quick Wits Comedy</h3>
    <p>Hop on over to <a href="https://www.qwcomedy.com">Quick Wits Comedy</a> where Joel 
        regularly performs! Joel loves to make people laugh and hopes you will too!</p>
</div>
<div>
    <h3>Baconsale</h3>
    <p>Joel loves movies and runs his own podcast about films and pop culture called <a href="https://baconsale.com/">Baconsale</a>. 
        Click the link to check it out!</p>
    <a href="http://www.baconsale.com">
        <img src="~/img/BaconsaleKate.jpeg" height="400">
    </a>
</div>
